.card-body {
  box-shadow: 0 0 4px 0 rgba(41,39,44,.25);
  .btn.btn-default {
    background-color: #9013fe;
    border-color: #9013fe;
    color: #fff;
    &:hover {
      background: #a916fe;
      border-color: #a916fe;
    }
    strong {
      font-size: 18px;
    }
  }
  input {
    &:hover {
      border-color: #a916fe;
    }
  }
}
