.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none
}

.nav > {
  li {
    position: relative;
    display: block;
  }
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
  border: none;
  text-align: center;
}

.nav-tabs > {
  li {
    float: left;
    margin-bottom: -1px;
    display: inline-block;
    float: none;
  }
}

.nav-tabs > {
  li > {
    a {
      position: relative;
      display: block;
      padding: 10px 15px;
      margin-right: 2px;
      line-height: 1.428571429;
      border: 1px solid transparent;
      border-radius: 4px 4px 0 0;
      font-size: 24px;
      letter-spacing: 2px;
      line-height: 36px;
      padding: 20px;
      color: #29272c;
      &:hover {
        color: #9013fe;
        text-decoration: none;
      }
    }
  }
}

@media(max-width: 992px) {
  .nav-tabs > {
    li > {
      a {
        background-color: transparent;
        border: none;
        border-radius: 0;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        margin: 0;
        padding: 20px;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
}
