.post-card {
  box-shadow: 0 0 4px 0 rgba(41, 39, 44, 0.25);
  background-color: #fff;
  border-radius: 4px;
  padding: 20px;
  img {
    width: 100%;
    height: auto;
  }
}

.post-title {
  font-size: 14px;
  font-weight: 600;
}

.post-text {
  font-size: 14px;
}

.post-social-share {
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  
  .fa {
    display: inline;
  }
}
